* {
    padding: 0;
    margin: 0;
}

:root {
    --fonte-principal: Delicious Handrawn;
   
}

body {
    background-image: url("background.jpg");
}

#logotransparente {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 5%;
}

#loginform {
    text-align: center;
}

#usernameletra {
    font-family: var(--fonte-principal);
    font-size: 200%;
    
}

#passwordletra {
    font-family: var(--fonte-principal);
    font-size: 200%;
   
}

#botaosubmit {
 
    font-family: var(--fonte-principal);
    font-size: 150%;
    font-weight: 800;
    padding: 1%;
    background-color: aquamarine;
   
}

#forgotpassword {
    margin-top: 1%;
    font-family: var(--fonte-principal);
    font-size: 150%;
}

#createaccount {
    font-family: var(--fonte-principal);
    font-size: 150%;
}

#footer {
    padding: 1%;
    margin-top: 6%;
    font-family: var(--fonte-principal);
}


#divmap {
    background-color: #faebd7;
    width: auto;
    padding-bottom: 5%;

}

#hr1 {
    border-top: 4px dashed white;
    margin-top: 1%;
    padding-top: 1%;
}

#rainytalksdiv {
    display: flex;
    background-color: #faebd7;
    margin-top: 1%;
    padding-top: 2%;
    
}

#budspupsimage1 {
    width: 10%;
    display: block;
    margin-left: 15%;
    margin-right: auto;
    margin-bottom: 3%;
}

#rainytalks {
    font-family: var(--fonte-principal);
    margin-right:48%;
    font-size: 200%;
}

#h2estifera {
    font-family: var(--fonte-principal);
    text-align: center;
    font-size: 300%;   
    padding-top: 5%;
}

#h1map {
    text-align: center;
    font-family: var(--fonte-principal);
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 500%;
}


#mapamundi {
    margin-top: 5%;
    margin-left: 11%;
    width: 80%;
    border-radius: 10%;
}

.container {
    position: relative;
    text-align: center;
  }
  
    .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--fonte-principal);
    font-size: 400%;
 }

  .home {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: var(--fonte-principal);
    font-size: 400%;
  }

  .map {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-family: var(--fonte-principal);
    font-size: 400%;
  }

  .farm {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-family: var(--fonte-principal);
    font-size: 400%;
  }

  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: brown;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
    
  .firey {
    position: absolute;
    top: 170%;
    left: 50%;
    width: 3%;
  }

  .nabey {
    position: absolute;
    top: 190%;
    left: 40%;
    width: 5%;
  }

  .shroomney {
    position: absolute;
    top: 240%;
    left: 80%;
    width: 3%;
  }

  .tisuney {
    position: absolute;
    top: 240%;
    left: 12%;
    width: 6%;
  }